/* Global Layout Set-up */
* {
  box-sizing: border-box;
}
.justify-end {
  justify-content: flex-end;
}

.no-grow {
  flex-grow: 0;
}

/* Because... Fun */
::selection {
  background: $site-base-highlight-color;
  color: $site-base-light-color;
}
